@model IEnumerable<Receipt>
<div class="m-5">
    <table class="table table-striped border table-hover" id="example1">
        <thead>
            <tr>
                <th>Facture N° </th>
                <th>Client</th>
                <th>Date</th>
                <th>@Html.DisplayNameFor(m => m.Montant)</th>
                <th>@Html.DisplayNameFor(m => m.Description)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
             {
                var fullName = item.ApplicationUser.FirstName + " " + item.ApplicationUser.LastName;
                var receiptDate = item.RecieptDate.ToShortDateString();
                <tr>

                    <td>@Html.DisplayFor(m => item.Bill.NumBill)</td>
                    <td>@Html.DisplayFor(m => fullName)</td>
                    <td>@Html.DisplayFor(m => receiptDate)</td>
                    <td>@Html.DisplayFor(m => item.Montant)</td>
                    <td>@Html.DisplayFor(m => item.Description)</td>

                    <td style="width:150px">

                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                            <div class="btn-group">
                                <a onclick="showInPopup('@Url.Action("Edit","Receipts", new {id= item.Id}, Context.Request.Scheme)', 'Reçu')"
                                   class="btn btn-success text-white" style="cursor:pointer"><i class="far fa-edit"></i></a>

                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            </div>
                        </form>

                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>
