@model UserBillDetailViewModel
@{
    ViewData["Title"] = "Modifier";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<form method="post">
    <div class="white-Background border m-3 p-2">
        @Html.HiddenFor(m => m.ApplicationUser.Id)
        @Html.HiddenFor(m => m.Bill.Id)
        <div class="col-md-12 form-group card-header bg-dark text-light mb-3 ">
            <div class="row">
                <div class="col-md-4">
                    <i class="fas fa-list-alt text-warning"></i>&nbsp;&nbsp;
                    <span>
                        Modifier la facture
                    </span>
                </div>
            </div>
        </div>

        <div class="row  about-edit-item ltr-effect">
            <div class="col-md-12 about-item-content">
                <div class="row">
                    <div class="col-md-4">
                        <span class="d-block mb-1">
                            Détail de la facture&nbsp;&nbsp;
                            <a asp-action="Details" asp-route-id="@Model.Bill.Id">
                                <i class="fas fa-list-ul icon"></i>
                            </a>
                        </span>
                    </div>
                    @if (Model.Bill.Status != SD.StatusPaid)
                    {
                        <div class="col-md-4 about-item-content">
                            <a asp-action="SendBill"
                               asp-route-id="@Model.Bill.Id" class="nav-link">
                                <span>
                                    Envoyer la facture
                                </span>&nbsp;&nbsp;<i class="far fa-paper-plane icon"></i>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4 about-item-content">

                        </div>
                    }

                    <div class="col-md-4 about-item-content">
                        <span class="d-block">
                            status de la facture
                            <br />
                        </span>&nbsp;&nbsp;
                        @if (Model.Bill.Status == SD.StatusNotPaid)
                        {
                            <span class=" badge badge-danger text-center">@Model.Bill.Status</span>
                        }
                        else if (Model.Bill.Status == SD.StatusPrePaid)
                        {
                            <span class=" badge badge-info text-center">@Model.Bill.Status</span>

                        }
                        else if (Model.Bill.Status == SD.StatusDeclined)
                        {
                            <span class=" badge badge-warning text-center">@Model.Bill.Status</span>
                        }
                        else if (Model.Bill.Status == SD.StatusPaid)
                        {
                            <span class=" badge badge-success text-center">@Model.Bill.Status</span>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-center">
                                <i class="far fa-clock icon">&nbsp;&nbsp;</i>
                                <span style="color: #2e232c">
                                    Date d'émission :
                                    @Model.Bill.DueDate.ToString("dd MMMM, yyyy")
                                </span>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="text-center">
                                <span style="color: #2e232c">
                                    Date d'échéance :
                                    @Model.Bill.IssueDate.ToString("dd MMMM, yyyy")
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="col-md-12 form-group card-header bg-dark text-light mb-3">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <i class="fas fa-file-invoice-dollar text-warning"></i>&nbsp;<span>
                        Facture
                    </span>
                </div>

                <div class="col-md-6 text-right">
                    <span>@Model.Bill.NumBill</span>
                </div>
            </div>
        </div>
        <div class="row col-md-12 about-edit-item ltr-effect">
            <div class="row col-md-12">
                <div class="col-md-6 text-center about-item-title">
                    <span>
                        Comblé vers :
                    </span>
                </div>
                <div class="col-md-6 text-center about-item-title">
                    <span class="d-block about-item-title">Expédié à :</span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 about-item-content">
                    <span class="d-block">@Model.ApplicationUser.BillingName</span>
                    <span class="d-block">@Model.ApplicationUser.BillingPhone</span>
                    <span class="d-block">@Model.ApplicationUser.BillingAdresse</span>
                    <span class="d-block">@Model.ApplicationUser.BillingPostalCode</span>
                    <span class="d-block">@Model.ApplicationUser.BillingCity</span>
                    <span>@Model.ApplicationUser.BillingCountry</span>&nbsp;<span>@Model.ApplicationUser.BillingState</span>
                </div>
                <div class="col-md-6 about-item-content">
                    <span class="d-block">@Model.ApplicationUser.ShippingName</span>
                    <span class="d-block">@Model.ApplicationUser.ShippingPhone</span>
                    <span class="d-block">@Model.ApplicationUser.ShippingAdresse</span>
                    <span class="d-block">@Model.ApplicationUser.ShippingPostalCode</span>
                    <span class="d-block">@Model.ApplicationUser.ShippingCity</span>
                    <span>@Model.ApplicationUser.ShippingCountry</span>&nbsp;&nbsp;<span>@Model.ApplicationUser.ShippingState</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group card-header bg-dark text-light mb-3">
            <div class="row">
                <div class="col-md-4 title-card">
                    <i class="fas fa-list-alt text-warning"></i>&nbsp;&nbsp;
                    <span>
                        Récapitulatif du produit
                    </span>
                </div>
            </div>
        </div>
        <div class="row col-md-12 card-body">
            <div class="col-md-6">
                <span>Tous les éléments ne peuvent pas être supprimés.</span>
            </div>
            <div class="col-md-6 text-right">
                <a asp-action="AddToCart" class="btn btn-primary"
                   asp-route-id="@Model.ApplicationUser.Id" asp-route-billId="@Model.Bill.Id">
                    <i class="fas fa-plus"></i>&nbsp;Ajouter un produit
                </a>
            </div>
        </div>
        <table class="table table-striped border table-hover col-md-12" id="example1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Produit</th>
                    <th>@Html.DisplayNameFor(m => m.BillDetailsList[0].Count)</th>
                    <th>@Html.DisplayNameFor(m => m.BillDetailsList[0].Price)</th>
                    <th>@Html.DisplayNameFor(m => m.BillDetailsList[0].Remise)</th>
                    <th>@Html.DisplayNameFor(m => m.BillDetailsList[0].Tax)</th>
                    <th>
                        Montant <span class="text-danger"
                                      style="font-size:12px">Avant impôt & remise</span>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    double total = 0;
                    double remise = 0;
                    double mntpartiel = 0;
                    double tax = 0;

                    @foreach (var item in Model.BillDetailsList)
                    {

                        var montant = Math.Round((item.Price * item.Count)+ ((item.Price * item.Count)*item.Tax)/100,2);
                        <tr>
                            <td>@Html.DisplayFor(m => item.ProduitId)</td>
                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td>
                                <button type="submit" asp-action="Minus" class="btn-minus"
                                        asp-route-id="@item.ProduitId">
                                    <i class="fas fa-minus"></i>
                                </button>
                                @Html.DisplayFor(m => item.Count)
                                <button type="submit" asp-action="Plus" class="btn-plus"
                                        asp-route-id="@item.ProduitId">
                                    <i class="fas fa-plus"></i>
                                </button>

                            </td>
                            <td>@Html.DisplayFor(m => item.Price)</td>
                            <td>@Html.DisplayFor(m => item.Remise)</td>
                            <td>@Html.DisplayFor(m => item.Tax) %</td>
                            <td style="width:200px">@Math.Round(montant, 2)</td>

                            <td>
                                <div class="btn-group">
                                    <button type="submit" asp-action="Remove" asp-route-id="@item.Id"
                                            class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        total += Math.Round((item.Price * item.Count),2);
                        remise += item.Remise;
                        mntpartiel += montant;
                    }
                    tax = ((mntpartiel - total) / total) * 100;
                }
            </tbody>
        </table>
        <br /><br />

        <div class="col-md-12 form-group card-header bg-dark text-light mb-3">
            <div class="row">
                <div class="col-md-4 title-card">
                    <i class="fas fa-list-alt text-warning"></i>&nbsp;&nbsp;
                    <span>
                        Récapitulatif des notes de crédit
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <a onclick="showInPopup('@Url.Action("Create","CreditNotes", new { billId = Model.Bill.Id}, Context.Request.Scheme)',
                'Créer une note de Crédit')"
               class="btn btn-primary text-white" style="cursor:pointer">
                <i class="fas fa-plus"></i>&nbsp; Ajouter
            </a>
        </div>
        <br />
        <table class="table table-striped border table-hover col-md-12" id="example1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>@Html.DisplayNameFor(m => m.CreditNoteList[0].Montant)</th>
                    <th>@Html.DisplayNameFor(m => m.CreditNoteList[0].Description)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{ double noteAmount = 0;}
                @foreach (var item in Model.CreditNoteList)
                {
                    var date = item.NoteDate.ToShortDateString();
                    <tr>
                        <td>@Html.DisplayFor(m => date)</td>
                        <td>@Html.DisplayFor(m => item.Montant)</td>
                        <td>@Html.DisplayFor(m => item.Description)</td>

                        <td style="width:150px">
                            <div class="btn-group">
                                <a onclick="showInPopup('@Url.Action("Edit","CreditNotes", new {id= item.Id}, Context.Request.Scheme)', 'Note de crédit ')"
                                   class="btn btn-success text-white" style="cursor:pointer"><i class="far fa-edit"></i></a>
                                <a onclick="showInPopup('@Url.Action("RemoveNote","Bills", new {noteId= item.Id}, Context.Request.Scheme)',
                                        'Supprimer une note de crédit')"
                                   class="btn btn-info text-white" style="cursor:pointer">
                                    Supprimer
                                </a>
                            </div>
                        </td>

                    </tr>
                    noteAmount += item.Montant;
                }
            </tbody>
        </table>


        <br /><br />

        <div class="col-md-12 form-group card-header bg-dark text-light mb-3">
            <div class="row">
                <div class="col-md-4 title-card">
                    <i class="fas fa-list-alt text-warning"></i>&nbsp;&nbsp;
                    <span>
                        Récapitulatif de réception
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <a onclick="showInPopup('@Url.Action("Create","Receipts", new { id = Model.Bill.Id},Context.Request.Scheme)',
                'Reçu')"
               class="btn btn-primary text-white" style="cursor:pointer">
                <i class="fas fa-plus"></i>&nbsp; Ajouter
            </a>
        </div>
        <br />
        <table class="table table-striped border table-hover col-md-12" id="example1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>@Html.DisplayNameFor(m => m.ReceiptList[0].Montant)</th>
                    <th>Type de paiment</th>
                    <th>@Html.DisplayNameFor(m => m.ReceiptList[0].Reference)</th>
                    <th>@Html.DisplayNameFor(m => m.ReceiptList[0].Description)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{ double receiptAmount = 0;}
                @foreach (var item in Model.ReceiptList)
                {
                    var date = item.RecieptDate.ToShortDateString();
                    <tr>
                        <td>@Html.DisplayFor(m => date)</td>
                        <td>@Html.DisplayFor(m => item.Montant)</td>
                        <td>Manuel</td>
                        <td>@Html.DisplayFor(m => item.Reference)</td>
                        <td>@Html.DisplayFor(m => item.Description)</td>
                        <td style="width:150px">
                            <div class="btn-group">
                                <a onclick="showInPopup('@Url.Action("Edit","Receipts", new {id= item.Id}, Context.Request.Scheme)', 'Reçu')"
                                   class="btn btn-success text-white" style="cursor:pointer"><i class="far fa-edit"></i></a>
                                <a onclick="showInPopup('@Url.Action("RemoveReceipt","Bills", new {receiptId= item.Id}, Context.Request.Scheme)',
                                        'Supprimer un reçu')"
                                   class="btn btn-info text-white" style="cursor:pointer">
                                    Supprimer
                                </a>
                            </div>

                        </td>
                    </tr>
                    receiptAmount += item.Montant;
                }
            </tbody>
        </table>

        <div class="col-md-4 offset-md-8 form-group mt-5 rec-bill">
            <div class="row">
                <div class="col-md-6">
                    <span class="text-success">Total Partiel (€) : </span>
                </div>
                <div class="col-md-6 text-right">
                    <span> @Math.Round(Model.Bill.BillTotalOrginal, 2)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="text-success">Remise (€) : </span>
                </div>
                <div class="col-md-6 text-right">
                    <span> @Math.Round(Model.Bill.Remise,2)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="text-success">Tax (%) : </span>
                </div>
                <div class="col-md-6 text-right">
                    <span> @Math.Round(tax, 2)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="text-success">Total (€) : </span>
                </div>
                <div class="col-md-6 text-right">
                    <span>@Model.Bill.BillTotal</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="text-success">Note de crédit : </span>
                </div>
                <div class="col-md-6 text-right">
                    <span> @Math.Round(noteAmount, 2)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="text-success">Payé : </span>
                </div>
                <div class="col-md-6 text-right">
                    <span> @Model.Bill.Paid</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="text-success">Reste : </span>
                </div>
                <div class="col-md-6 text-right">
                    <span> @Math.Round(Model.Bill.Rest, 2)</span>
                </div>
            </div>
        </div>

        @if (Model.Bill.Rest > 0)
        {
            <div class="offset-md-4 row">
                <div class="col-md-12">
                    <a asp-action="Overview" class="btn-cart" asp-route-id="@Model.Bill.Id"> Finaliser le réglement</a>
                </div>
            </div>
        }
    </div>
</form>

<script src="~/js/ModalPopup.js"></script>

