@model ExpenseUserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="white-Background m-5 p-5">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid d-flex justify-content-between">
                        <div class="col-md-3 pl-0">
                            <div class="row ml-1">
                                <span>
                                    <img class="pb-2" src="~/images/appliTaxi.jpg" style="width:120px; height:120px" />
                                </span>
                            </div>

                            <p>
                                28 avenue de la résistance <br />
                                91700 Sainte-Genevièves-des-bois <br />
                                <b>SIRET :</b> 83138505900017 <br />
                                France
                            </p>
                        </div>
                        <div class="col-md-3 pr-0">
                                <p class="mt-5 mb-2"><b>Note de frais N°: <span class="text-danger ml-1">@Model.ExpenseReport.Id</span></b></p>
                            <p>
                                Date de demande : @Model.ExpenseReport.Date<br />
                            </p>
                        </div>

                    </div>
                    <br /><br />

                    <div class="col-md-12 row mb-2">
                        <div class="col-md-6">

                            @foreach (var item in Model.ListUsers)
                            {
                                <div class="ml-4 col-md-6 text-center">
                                    <p class="mt-2 ml-2"><b class="text-secondary">Congé demandé pour :</b></p>
                                    @{var fullname = item.FirstName + " " + item.LastName;}
                                    <p class="mt-1 mb-2"><b>@fullname</b></p>
                                    @item.PhoneNumber <br />
                                    @item.Email <br />
                                    @item.EmployeeAdresse <br />
                                    @item.EmployeeCity <br />
                                    @item.EmployeePostalCode <br />
                                    @item.EmployeeCountry

                                </div>
                            }
                        </div>
                        <div class="col-md-6 text-center">
                            <p class="mt-2 ml-2"><b class="text-secondary">Détail du congé :</b></p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="mt-1 mb-2"><b>Date de début :</b></p>
                                    <span>@Model.ExpenseReport.Montant</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-5">
                        <p class="mt-2 ml-2"><b class="text-danger">Motif de demande :</b></p>
                        <div class="row">
                            <p class="mt-1 ml-5"><b>@Model.ExpenseReport.Comment</b></p>
                        </div>
                    </div>
                </div>

                @if (User.IsInRole(SD.ManagerUser))
                {
                    <form>
                        <div class="col-md-6 offset-md-3">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <button asp-action="ConfirmCancelExpense" asp-route-id="@Model.ExpenseReport.Id" class="btn btn-primary form-control">
                                        Confirmer la demande
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button asp-action="ConfirmCancelExpense" asp-route-id="@Model.ExpenseReport.Id" class="btn btn-success form-control">
                                        Annuler la demande
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                }

            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <a class="font-weight-bolder ml-5" style="font-size: 20px;" asp-action="Index">Retour à la liste des Congés</a>
</div>

@section Scripts{

}


