@model IEnumerable<TypeCat>

<div class="m-5">
    <table id="example1" class="table table-striped border table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Name)</td>
                    <td style="width:150px">
                        <div class="btn-group">
                            <a onclick="showInPopup('@Url.Action("Details","TypeCats", new {id= item.Id}, Context.Request.Scheme)', 'Details')"
                               class="btn btn-info text-white" style="cursor:pointer"><i class="fas fa-list-ul"></i></a>

                            <a onclick="showInPopup('@Url.Action("Edit","TypeCats", new {id= item.Id}, Context.Request.Scheme)', 'Modifier')"
                               class="btn btn-success text-white" style="cursor:pointer"><i class="far fa-edit"></i></a>

                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


