@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";

}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="row mb-5 ml-3 mt-3">
    <div class="col-md-4">
        <i class="fas fa-users bg-success text-light p-3 icon-box"></i>
        <span class="text-primary font-weight-bold ml-2">Total Clients</span>
        <span class="icon-count">@ViewBag.Customer.Count</span>
    </div>
    <div class="col-md-4">
        <i class="fas fa-people-arrows bg-danger text-light p-3 icon-box"></i>
        <span class="text-info font-weight-bold ml-2">Total Fournisseurs</span>
        <span class="icon-count">@ViewBag.Vendor.Count</span>
    </div>
    <div class="col-md-4">
        <i class="fas fa-user-tie bg-info text-light p-3 icon-box"></i>
        <span class="text-success font-weight-bold ml-2">Total Employées</span>
        <span class="icon-count">@ViewBag.Employee.Count</span>
    </div>
</div>

<div class="row mb-5 ml-3  mt-3">
    <div class="col-md-4">
        <i class="fas fa-money-check-alt bg-secondary text-light p-3 icon-box"></i>
        <span class="text-warning font-weight-bold ml-2">Total Devis</span>
        <span class="icon-count">@ViewBag.Proposal.Count</span>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <i class="fas fa-database bg-primary text-light p-3 icon-box"></i>
        <span class="text-secondary font-weight-bold ml-2">Total Factures</span>
        <span class="icon-count">@ViewBag.Bill.Count</span>
    </div>
</div>

<div id="piechart_div"></div>

@*<script type="text/javascript">

    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({

            url: 'ColumnChart/BillsLineChart',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                BillsLineChart(data);
                return false;
            }
        });
        return false;
    }

    function BillsLineChart(data) {
        var dataArray = [
            ['Statut', 'Total']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.status, item.to]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Population of Largest Cities of Odisha ',
            chartArea: {
                width: '70%'
            },
            colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
            hAxis: {
                title: 'City',
                minValue: 0
            },
            vAxis: {
                title: 'Total Population'
            }
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_div'));

        chart.draw(data, options);
        return false;
    }
</script>*@

