@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";

}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<div class="row mb-5 ml-3 mt-3">
    <div class="col-md-4">
        <i class="fas fa-users bg-success text-light p-3 icon-box"></i>
        <span class="text-primary font-weight-bold ml-2">Total Clients</span>
        <span class="icon-count">@ViewBag.Customer.Count</span>
    </div>
    <div class="col-md-4">
        <i class="fas fa-people-arrows bg-danger text-light p-3 icon-box"></i>
        <span class="text-info font-weight-bold ml-2">Total Fournisseurs</span>
        <span class="icon-count">@ViewBag.Vendor.Count</span>
    </div>
    <div class="col-md-4">
        <i class="fas fa-user-tie bg-info text-light p-3 icon-box"></i>
        <span class="text-success font-weight-bold ml-2">Total Employées</span>
        <span class="icon-count">@ViewBag.Employee.Count</span>
    </div>
</div>

<div class="row mb-5 ml-3  mt-3">
    <div class="col-md-4">
        <i class="fas fa-money-check-alt bg-secondary text-light p-3 icon-box"></i>
        <span class="text-warning font-weight-bold ml-2">Total Devis</span>
        <span class="icon-count">@ViewBag.Proposal.Count</span>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <i class="fas fa-database bg-primary text-light p-3 icon-box"></i>
        <span class="text-secondary font-weight-bold ml-2">Total Factures</span>
        <span class="icon-count">@ViewBag.Bill.Count</span>
    </div>
</div>

<div>
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            Les Diagrammes circulaire sont très populaires pour montrer un aperçu compact d'un
            composition ou comparaison. Bien qu'ils puissent être plus difficiles à lire que
            histogrammes, ils restent un choix populaire pour les petits ensembles de données.
        </p>
    </figure>
</div>


<script>

    $(document).ready(function () {
        $.getJSON("/Customer/Home/GetBillsByStatus", function (data) {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Taux de facturation par Statut'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Taux',
                    colorByPoint: true,
                    data: [{
                        name: 'Payé',
                        y: data.paidBills
                    }, {
                        name: 'Partiellement payé',
                        y: data.prePaidBills
                    }, {
                        name: 'Non Payé',
                        y: data.notPaidBills
                    }]
                }]
            });
        });
    });

</script>