@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";

}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<div class="row mb-5 ml-3 mt-3">
    <div class="col-md-3 icon">
        <i class="fas fa-users bg-success text-light p-3 icon-box"></i>
        <span class="text-primary font-weight-bold">Total Clients</span>
        <span class="icon-count">@ViewBag.Customer.Count</span>
    </div>
    <div class="col-md-3 offset-md-1 icon">
        <i class="fas fa-people-arrows bg-danger text-light p-3 icon-box"></i>
        <span class="text-info font-weight-bold">Total Fournisseurs</span>
        <span class="icon-count">@ViewBag.Vendor.Count</span>
    </div>
    <div class="col-md-3 offset-md-1 icon">
        <i class="fas fa-user-tie bg-info text-light p-3 icon-box"></i>
        <span class="text-success font-weight-bold">Total Employées</span>
        <span class="icon-count">@ViewBag.Employee.Count</span>
    </div>
</div>

<div class="row mb-5 ml-3 mt-3">
    <div class="col-md-3 icon">
        <i class="fas fa-money-check-alt bg-secondary text-light p-3 icon-box"></i>
        <span class="text-warning font-weight-bold ml-2">Total Devis</span>
        <span class="icon-count">@ViewBag.Proposal.Count</span>
    </div>
    <div class="col-md-3 offset-md-1"></div>
    <div class="col-md-3 offset-md-1 icon">
        <i class="fas fa-database bg-primary text-light p-3 icon-box"></i>
        <span class="text-secondary font-weight-bold ml-2">Total Factures</span>
        <span class="icon-count">@ViewBag.Bill.Count</span>
    </div>
</div>

<div>
    <figure class="highcharts-figure">
        <div id="pieChart"></div>
        <p class="mb-5"></p>
    </figure>

    <figure class="highcharts-figure mt-5">
        <div id="lineIncomeChart"></div>
        <p class="mb-5"></p>
    </figure>

    <figure class="highcharts-figure mt-5">
        <div id="lineDepenseChart"></div>
        <p class="mb-5"></p>
    </figure>
</div>


<script>
    $(document).ready(function () {
        $.getJSON("/Customer/Home/GetBillsByStatus", function (data) {
            Highcharts.chart('pieChart', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Taux de facturation par Statut'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Taux',
                    colorByPoint: true,
                    data: [{
                        name: 'Payé',
                        y: data.paidBills
                    }, {
                        name: 'Non payé',
                        y: data.notPaidBills
                    }, {
                        name: 'Partiellement payé',
                        y: data.prePaidBills
                    }]
                }]
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $.getJSON("/Customer/Home/GetIncomeAmount", function (data) {
            var mounths = []
            var paids = []
            var dt = new Date();
            for (var i = 0; i < data.length; i++) {
                paids.push(data[i].count);
                switch (data[i].mounth) {
                    case 1:
                        mounths.push("Jan");
                        break;
                    case 2:
                        mounths.push("Fev");
                        break;
                    case 3:
                        mounths.push("Mars");
                        break;
                    case 4:
                        mounths.push("Avr");
                        break;
                    case 5:
                        mounths.push("Mai");
                        break;
                    case 6:
                        mounths.push("Juin");
                        break;
                    case 7:
                        mounths.push("Juil");
                        break;
                    case 8:
                        mounths.push("Août");
                        break;
                    case 9:
                        mounths.push("Sept");
                        break;
                    case 10:
                        mounths.push("Oct");
                        break;
                    case 11:
                        mounths.push("Nov");
                        break;
                    case 12:
                        mounths.push("Dec");
                        break;
                }
            }
            Highcharts.chart('lineIncomeChart', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Montant des revenues par mois'
                },
                subtitle: {
                    text: 'Année en cours : ' + dt.getUTCFullYear()
                },
                xAxis: {
                    categories: mounths
                },
                yAxis: {
                    title: {
                        text: 'REVENUES EN (€)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: false
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Montant',
                    data: paids
                }]
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $.getJSON("/Customer/Home/GetDepenseAmount", function (data) {
            var mounths = []
            var paids = []
            var dt = new Date();
            for (var i = 0; i < data.length; i++) {
                paids.push(data[i].count);
                switch (data[i].mounth) {
                    case 1:
                        mounths.push("Jan");
                        break;
                    case 2:
                        mounths.push("Fev");
                        break;
                    case 3:
                        mounths.push("Mars");
                        break;
                    case 4:
                        mounths.push("Avr");
                        break;
                    case 5:
                        mounths.push("Mai");
                        break;
                    case 6:
                        mounths.push("Juin");
                        break;
                    case 7:
                        mounths.push("Juil");
                        break;
                    case 8:
                        mounths.push("Août");
                        break;
                    case 9:
                        mounths.push("Sept");
                        break;
                    case 10:
                        mounths.push("Oct");
                        break;
                    case 11:
                        mounths.push("Nov");
                        break;
                    case 12:
                        mounths.push("Dec");
                        break;
                }
            }
            Highcharts.chart('lineDepenseChart', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Montant des dépenses par mois'
                },
                subtitle: {
                    text: 'Année en cours : ' + dt.getUTCFullYear()
                },
                xAxis: {
                    categories: mounths
                },
                yAxis: {
                    title: {
                        text: 'DÉPENSE EN (€)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Montant',
                    data: paids
                }]
            });
        });
    });
</script>